<div class="container bg-img ">
    <div class="row row-direction">
        <div class="col-12 circle-positioning">
            <div class="center-circle"></div>
            <div class="description">
                <ul class="description-list" *ngFor = "let item of user">
                    <li>{{item.name}}</li>
                    <li>{{item.job}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>