body, html{
    height: 100%;
}
.bg-img{
    background-image: url('../../../assets/images/mini.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.row-direction{
    display: flex;
    justify-content: center;
}
.circle-positioning{
    display: flex;
    flex-direction: column;
}
.center-circle{
    border: 1px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 100px;
}
.description{
    margin-top: 50px;
    border: 1px solid white;
    height: 100px;
    width: 200px;
}
.description-list{
    list-style-type: none;
}

