<div class="container" >
    <div class="row">
        <div class="col-12">
                <h3 class="col-12">Title</h3>
                <input type="text" class="col-12">
                <div class="col-12">date</div> 
        </div>
    </div>
</div>