<nav class="navbar">
    <ul class="navbar_list-container">
        <li class="list-container_item_home">Home</li>
        <li class="list-container_item_blog">Blog</li>
        <li class="list-container_item_contact">Contact</li>
    </ul>
</nav>