.navbar{
    display: block;
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: black;
    box-shadow: 2px -1px 24px black;
}
ul{
    list-style-type: none;
   
}
.navbar_list-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.list-container_item_home{
    color: white;
    flex-grow: 1;
    text-align: center;
}
.list-container_item_blog{
    flex-grow: 2;
    color: white;
    text-align: center;
}
.list-container_item_contact{
    color: white;
    flex-grow: 1;
    text-align: center;
}